.activities_header {
    padding: 14px;
    margin: 1px;
    transition: all 0.3s ease;
}


.activities_header:last-child {
    cursor: default;
}

.activities_row {
    margin-top: auto !important;

    &:nth-of-type(2) {
        border-top-width: 1px;
        border-top-style: solid;
    }
}

.activities_row:nth-child(even) {
    /*background-color: #f2f2f2;*/
}

.activities_row-cell {
    padding: 16px;
}


.activities_row-cell:last-child {
    text-align: right;
}